
/* LO DEMAS ESTA EN EN PRINCIPAL.CSS */
#item-home{
  background-color:var(--color--hover-oscuro);
}

/* GRILLA ALBUMS */

.grid-main-albums {
  height: 800px;
  margin: 1em;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill,minmax(15em,1fr));
  /* columnas responsive */
  grid-template-rows: repeat(3, 260px);
  /* 3 filas con altura de 200px */
  gap: 30px;
  /* Espacio entre las celdas */
  overflow: scroll;
}


.grid-main-albums-box img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}