:root {
  --color-header: #3045BF;
  --color-hover: #F28B30;
  --color-blanco: #F2F1F0;
  --color--hover-oscuro: #f25f29;
}

ul {
  list-style: none;
}


#grid-main {
  display: grid;
  grid-template-columns: auto 75%;
}

.grid-main-menu-lateral {
  margin: 1em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  flex-wrap: wrap;

}

.grid-main-menu-lateral-box1 {
  border: solid 1px;
}

.grid-main-menu-lateral-box1-item a {
  color: #000000;
}

.grid-main-menu-lateral-box1-item {
  padding: 2em 0.5em;
  background-color: var(--color-blanco);
}

.grid-main-menu-lateral-box1-item:hover {
  background-color: var(--color--hover-oscuro);
}

.grid-main-menu-lateral-box1-item a:hover {
  color: var(--color-blanco);
}


.grid-main-menu-lateral-box2 img {
  width: 100%;
}


.grid-main-menu-lateral-box2-texto {
  margin: 1em 0em;
}



.grid-main-albums {
  background-color: #f0a05b;
  margin: 1em;
  padding: 1em;
}