#item-favoritas {
    background-color: var(--color--hover-oscuro);
}

/* grid de 5 columnas. La primera seria auto y las demas responsive */
.grid-main-canciones {
    height: 800px;
    margin: 0.5em;
    margin-top: 1em;

    display: grid;
    grid-template-columns: 5% repeat(4, minmax(10em, 1fr));
    grid-auto-rows: 60px;
    overflow: scroll;
}


/* , agrego la clase de los p xq comparten el display y lo demas */
.grid-main-canciones-titulo, .grid-main-canciones-filas {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid-main-canciones-filas-star {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.grid-main-canciones  button {
    padding: 0.5em;
    color: var(--color--hover-oscuro);
    border-style: none;
}

.fa-regular fa-star:hover{
    background-color: aqua;
    color: aqua;
}




.grid-main-menu-lateral-box2-img{
    position: relative; 
    display: inline-block;
  
  
  }

  
  .boton-estrella{
    position: absolute; 
    top: 0; 
    right: 0; 
    background-color: #d7ca64; 
    padding: 10px 10px;
  }


/* INTENTO DE GRID RESPONSIVE */

/* @media (max-width: 1024px) {

    .grid-main-canciones {
        grid-template-columns: 5% repeat(2, minmax(10em, 1fr));
        grid-auto-rows: 50px;
    }
}*/


