#item-favoritas {
    background-color: var(--color--hover-oscuro);
}

/* grid de 5 columnas. La primera seria auto y las demas responsive */
.grid-main-canciones {
    background-color: rgb(205, 177, 231);
    height: 800px;
    border-style: solid;

    display: grid;
    grid-template-columns: 5% repeat(4, minmax(10em, 1fr));
    grid-auto-rows: 60px;
    gap: 10px;
    overflow: scroll;
}


/* , agrego la clase de los p xq comparten el display y lo demas */
.grid-main-canciones-titulo, .grid-main-canciones-filas {
    background-color: burlywood;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-main-canciones-filas{
    background-color: rgb(80, 204, 107);
}

.grid-main-canciones-filas-star {
    width: 100%;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}


/* INTENTO DE GRID RESPONSIVE */

/* @media (max-width: 1024px) {

    .grid-main-canciones {
        grid-template-columns: 5% repeat(2, minmax(10em, 1fr));
        grid-auto-rows: 50px;
    }
}*/