/* grid de 5 columnas. La primera seria auto y las demas responsive */
.grid-main-canciones {
  height: 800px;
  margin: 0.5em;
  margin-top: 1em;

  display: grid;
  grid-template-columns: 5% repeat(4, minmax(10em, 1fr));
  grid-auto-rows: 60px;
  overflow: scroll;

  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
}


/* , agrego la clase de los p xq comparten el display y lo demas */
.grid-main-canciones-titulo,
.grid-main-canciones-filas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
}


.grid-main-canciones-filas-star {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
}

.grid-main-canciones button {
  padding: 0.5em;
  color: var(--color--hover-oscuro);
  border-style: none;
}