

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

/**/

.btn {
  background-color: #F28B30;
  padding: 1em 4em;
  margin: 1px;
  text-align: center;
  border-radius: 1em;
  border-style: none;
}

.btn-guardar-volverhome {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.btn a {
  color: #ffff;

}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px #F25F29;
  cursor: pointer;
}


/**/



/**/

.volver-inicio {
  color: white;
}


#medio:link {
  color: #ffffff;
}

#medio:visited {
  color: #F28B30;
}

#medio:focus {
  border-bottom: 2px solid;
  background: #dd9f89;
}

#medio:hover {
  border-bottom: 1px solid;
  background: #e9d7c6;
}

#medio:active {
  background: #F28B30;
  color: #ffffff;
}

.link{
  text-align: center;
}


.ingresarCuenta {
  width: 550px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 3px solid black;
  margin: 0 auto;
}

.inputContainer {
  color: #747373;
  font-size: 1rem;
  padding: 5px 7px;
}


.caja{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15px;
  margin-bottom: 15px;
  
}

