* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

main{
  margin-top: 30px;
  margin-bottom: 30px;
}

/**/


.btn-guardar-volverhome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}

.btn a{
  color: #ffff;
}

.btn {
  background-color: #F28B30;
  padding: 1em 5em;
  margin: 1em;
  text-align: center;
  border-radius: 1em;
  border-style: none;
 
}

.btn a{
  text-anchor: 1em;

}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2px #F25F29;
  cursor: pointer;
}



/**/

.inputContainer {
  gap: 1em;
  color: #747373;
  font-size: 1rem;
  padding: 4px 4px;
  
}

.volver-inicio {
  color: white;
}







#medio:link {
  color: #ffffff;
}

#medio:visited {
  color: #F28B30;
}

#medio:focus {
  border-bottom: 1px solid;
  background: #dd9f89;
}

#medio:hover {
  border-bottom: 1px solid;
  background: #e9d7c6;
}

#medio:active {
  background: #F28B30;
  color: #ffffff;
}

.title {
  font-size: 60px;
  margin-bottom: 20px;
}



.ingresarCuenta {
  box-sizing: border-box;

  width: 700px;
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 35px;

  border: 3px solid black;
  margin: 0 auto;
  text-align: center;


}