* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}


.section-planes h1 {
    padding: 1.5em 0;
    text-align: center;
    font-size: 2em;
}

.section-planes-flex {
    background-color: #F2F1F0;
    padding: 3em;
    display: flex;
}



.section-planes-flex-fila {
    padding: 0 2em;
    text-align: center;
}

.section-planes-flex-fila h2 {
    padding: 1em;
}

.section-planes-flex-fila img {
    height: 15em;
}

.section-planes-flex-fila p {
    padding: 1em 0;
}

.btn-cancelar-avanzar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
}

.btn a{
    color: #ffff;
}
.btn {
    background-color: #F28B30;
    padding: 1em 8em;
    margin: 1em;
    text-align: center;
    border-radius: 1em;
    border-style: none;

}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px #F25F29;
    cursor: pointer;
}



@media (max-width: 1024px) {

    .section-planes-flex,
    .btn-cancelar-avanzar {
        flex-direction: column;
    }
}