* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}


.header-perfil {
    background-color: #F2F1F0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1em;
}

.header-perfil img {
    height: 6em;
    margin: 1em;
}

.section-planes-flex {
    display: flex;
}

.section-planes-flex-fila {
    padding: 1em;
    text-align: center;
}

.section-planes-flex-fila h2{
    padding: 1em;
}

.section-planes-flex-fila img{
    height: 15em;
}

.section-planes-flex-fila p{
    padding: 1em 0;
}

.btn-cancelar-avanzar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
}

.btn button {
    padding: 1em 8em;
    margin: 1em;
    text-align: center;
    border-radius: 0.5em;
    border-style: none;
    background-color: aliceblue;
    

}

.btn button:hover{
    transform: scale(1.1);
    box-shadow:  0 0 2px rgb(228, 154, 58);
    cursor: pointer;
}


footer {
    background-color: bisque;
}

@media (max-width: 1024px){
    .section-planes-flex , .btn-cancelar-avanzar{
        flex-direction: column;
    }
}


