@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
  :root {
      --color-header: #3045BF;
      --color-hover: #F28B30;
      --color-blanco: #F2F1F0;
  }

  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Asap', sans-serif;
  }

  a {
      text-decoration: none;
  }

  header {
      background-color: var(--color-header);
  }

  .header-perfil {
      color: var(--color-blanco);
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

  .header-perfil img {
      height: 6em;
      margin: 1em;
  }


  .header-perfil a {
      color: var(--color-blanco);
  }

  .header-perfil-nombre-usuario a:hover {
      color: #F28B30;
  }


  footer {
      background-color: #000000;
      color: var(--color-blanco);
      text-align: center;
      padding: 1em;
  }

  footer div {
      margin: 1em;
  }